body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #f4f6f8;
}


.header {
    background: #1e3c72;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 60px;
}

.logo p {
    margin: 5px 0 0;
    font-size: 14px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 50px 20px;
    background: white;
}

.hero h1 {
    color: #1e3c72;
}

.search-form {
    margin-top: 20px;
}

.search-form input {
    padding: 10px;
    width: 200px;
    margin: 5px;
}

.search-form button {
    padding: 10px 20px;
    background: #1e3c72;
    color: white;
    border: none;
    cursor: pointer;
}

/* Categories */
.categories {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.category-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category {
    background: white;
    padding: 15px 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}


.job-section {
    width: 80%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

table th {
    background: #1e3c72;
    color: white;
}

table a {
    text-decoration: none;
    color: #1e3c72;
    font-weight: bold;
}


.companies {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.company-list span {
    display: inline-block;
    background: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}


footer {
    background: #1e3c72;
    color: white;
    text-align: center;
    padding: 15px;
}


